.d-flex{
  display: flex;
  align-items: center;
}

/* flex直向排版 */
.flex-column{
  flex-direction: column;
}


.justify-content-between{
  justify-content: space-between;
}


.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.p-2{
  padding: 2px;
}

.px-2{
  padding: 0px 2px;
}

.py-2{
  padding: 2px 0px;
}

.ps-auto{
  padding-left: auto;
}

.pe-auto{
  padding-right: auto;
}

.m-2{
  margin: 2px;
}

.mx-2{
  margin: 0px 2px;
}

.my-2{
  margin: 2px 0px;
}

.ms-auto{
  margin-left: auto;
}

.me-auto{
  margin-right: auto;
}

.overflow-x-hidden{
  overflow-x: hidden;
}